@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
html,body{
  height: 100%;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Apply Roboto font to specific elements */
.text-2xl,
.text-xl,
.text-md,
.text-sm,
.text-lg,
.font-medium,
.font-bold,
.font-semibold {
  font-family: 'Roboto', sans-serif;
}
/* primary - #1F1E24
secondary - #6556CD */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
::-webkit-scrollbar{
  width :7px;
  height: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(72, 26, 26);
  border-radius: 30px;
}

@layer base{

  body{
    background-color: #14161b;
  }

}

.slick-slide >div{
  margin:0 10px;
}